@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

.banner {
    background: url(/a7x_banner.jpg);
    background-position: center;
    font-family: 'Rubik Glitch', sans-serif;
}